
td, th {
  padding: 0 5px;
}

.topic {
  background-color:lightgray;
  margin: 0 0 5px 0;
  padding: 0;
  width: 50%;
  border: 1px solid black;
}

div h2 , div p {
  margin: 0;
}



a, div {
  display:block;
}