<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<h1>Postage Calculator</h1>

<form action="/getRate" method="get">
  <table>
    <tr>
      <td><label for="weight">Weight (oz.):</label></td>
      <td><input type="text" name="weight" required></td>
    </tr>
    <tr>
      <td><label for="type">Mail Type:</label></td>
  <td><select name="type">
    <option value="Letters (Stamped)" selected>Letters (Stamped)   </option>
    <option value="Letters (Metered)">Letters (Metered)            </option>
    <option value="Large Envelopes (Flats)">Large Envelopes (Flats)</option>
    <option value="First-Class Package Service--Retail">First-Class Package Service--Retail</option>
    </select></td>
    </tr></table>
  <br />
  <button type="submit">Get Rate</button>
</form>

</body>
</html>
