<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
<script>
    const url = require('url');
    function calculateRate(){
        // let data = url.parse()

    }


</script>


<h1>Response</h1>
<table>
    <tr><th>Type of Mail</th><th>Price</th></tr>
    <tr><td>Letters (Stamped)</td><td>$0.00</td></tr>
    <tr><td>Letters (Metered)</td><td>$0.00</td></tr>
    <tr><td>Large Envelopes (Flats)</td><td>$0.00</td></tr>
    <tr><td>First-Class Package Service--Retail</td><td>$0.00</td></tr>
</table>
</body>
</html>
